<nav class="navbar">
	<div class="navbar-inner">
		<a class="brand">Tasker</a>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="language">{{i18n 'language.language'}} </span>{{lang}}
			  	</a>
			  	<ul class="dropdown-menu">
					<li>
	            	<a href="#" class="lang" data-lang="en_US">{{i18n 'language.english'}} (en_US)</a>
	          	</li>
	          	<li>
	            	<a href="#" class="lang" data-lang="pt_BR">{{i18n 'language.portuguese'}} (pt_BR)</a>
	          	</li>		  	
	         </ul>
	   	</li>
		</ul>
		<ul id="menu" class="nav"></ul>		
	</div>
</nav>
<section id="page"></section>
<footer>
	<a class="logo pull-left" rel="license" href="{{i18n 'footer.license_url'}}" target="_blank">
		<img alt="{{i18n 'footer.license_alt'}}" style="border-width:0" src="/assets/images/88x31.png" />
	</a>
	<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tasker</span> {{i18n 'footer.from'}} 
	<a xmlns:cc="http://creativecommons.org/ns#" href="http://tgarcia.com.br" property="cc:attributionName" rel="cc:attributionURL" target="_blank">Tiago Romero Garcia</a> 
	{{i18n 'footer.licensed'}} <a rel="license" href="{{i18n 'footer.license_url'}}" target="_blank">{{i18n 'footer.license_name'}}</a>. <br />
	{{i18n 'footer.based'}} <a xmlns:dct="http://purl.org/dc/terms/" href="http://github.com/tiagorg/tasker" rel="dct:source" target="_blank">http://github.com/tiagorg/tasker</a>.
	<br /> {{i18n 'footer.permissions'}} 
	<a xmlns:cc="http://creativecommons.org/ns#" href="http://tgarcia.com.br/contato/" rel="cc:morePermissions" target="_blank">http://tgarcia.com.br/contato/</a>.
</footer>
