<article id="project_{{id}}">
	<h3>Project {{title}}</h3>
	<i>{{description}}</i> por <u>{{assignee}}</u>.<br/>
	Criado em {{formatDate createdDate}}. Última modificação em {{formatDate modifiedDate}}.
	<section id="project_{{id}}_stories">
	</section>
</article>