<h4>STORY #{{id}}: {{title}}</h4>
<p>
	<i>{{description}}</i>
</p>
<p>
	Criada em {{formatDate createdDate}} por <u>{{assignee}}</u>. 
</p>
<div class="btn-group">
  <a class="btn" href="/card/{{id}}/new-issue/task" data-internal="true"><i class="icon-plus"></i>criar tarefa</a>
  <a class="btn" href="/card/{{id}}/new-issue/bug" data-internal="true"><i class="icon-plus"></i>criar defeito</a>
  <a class="btn" href="/card/{{id}}/new-issue/enhancement" data-internal="true"><i class="icon-plus"></i>criar melhoria</a>
  <a class="btn remove-story" data-action="delete"><i class="icon-remove"></i>remover estória</a>
</div>
<table id="story_{{id}}_issues" class="issues">
	<tr></tr>
</table>