<h5>{{i18n-uppercase type 'type'}} #{{id}}<br/> {{title}}</h5>
<p>
	<i>{{description}}</i><br/>
	<i class="icon-user"></i> <u>{{assignee}}</u>
</p>
<p>
	<i class="icon-time"></i> {{formatDate createdDate 'DD/MM/YY HH:mm'}}<br/>
	<i class="icon-save"></i> {{formatDate modifiedDate 'DD/MM/YY HH:mm'}}
</p>
<div class="btn-group btn-group-vertical">
	{{#if previous}}
		<a class="btn" data-action="move_previous"><i class="icon-backward"></i>{{previous}}</a>
	{{/if}}
	{{#if next}}
  		<a class="btn" data-action="move_next"><i class="icon-forward"></i>{{next}}</a>
	{{/if}}
	<a class="btn remove-issue" data-action="delete"><i class="icon-remove"></i>{{i18n-lowercase 'action.remove'}}</a>
	
</div>