<article id="story_{{id}}" class="story">
	<h4>Story {{title}}</h4>
	<i>{{description}}</i> by <b>{{assignee}}</b>
	<section id="story_{{id}}_issues" class="row">
		<span id="story_{{id}}_issues_backlog" class="span3"></span>
		<span id="story_{{id}}_issues_in_progress" class="span3"></span>
		<span id="story_{{id}}_issues_verify" class="span3"></span>
		<span id="story_{{id}}_issues_signed_off" class="span3"></span>
	</section>
</article>